@model Entity.Bookmark

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bookmark</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.URL)
            </td>
            <td>
                @Html.DisplayFor(model => model.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreateDate)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>